<h1>movies!</h1>

<% movieMeets.forEach( movieMeet => { %>

    <form action = <%='/moviemeet/'+movieMeet.id +'?_method=DELETE'%> method = 'POST'>
        <button type = "submit">delete!</button>
    </form>

    <form action = <%='/moviemeet/'+movieMeet.id +'?_method=PUT'%> method = 'POST'>
        <input type = 'text' name = 'newParticipant'>
        <button type = "submit">Join!</button>
    </form>
    
    <div><a href =  <%='/moviemeet/'+movieMeet.id %>> <%=movieMeet.movieTitle%></a></div>
    
    <div><%=movieMeet.date.toDateString()%></div>
    
    <div><%=movieMeet.cinema%></div>
    
    <div><%=movieMeet.participants%></div>

    <br>
<% }) %>


